# -Denv=dev -Dapollo.cluster=DEFAULT -Dserver.port=53090
app:
  id: content-search-service
apollo:
  meta: http://192.168.158.162:8080
  bootstrap:
    enabled: true
    eagerLoad:
      enabled: true
    namespaces: application,micro_service.spring-boot-http,micro_service.spring-boot-es,micro_service.spring-eureka,micro_service.spring-ribbon,micro_service.spring-feign

logging:
  config: classpath:log4j2-dev.xml
